@import './variables';


.dashboard-panel {

    .dashboard-value {
        font-size: 5rem;
    }


    .corner {
        position : absolute;
        top      : 0;
        right    : 0;
        width    : $loader-size;
        height   : $loader-size;
        padding  : $spacing;
    }
}
