@import '~weather-icons/css/weather-icons.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

@import './common.style.scss';


// bootstrap overrides
.panel {
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

.table {
  margin-bottom: 0px;
}



// helper classes
.x8 {
  font-size: 8rem;
}

.x5 {
  font-size: 5rem;
}

.x2 {
  font-size: 3rem;
}

.relative {
  position: relative;
}

.corner {
  position : absolute;
  top      : 0;
  right    : 0;
  width    : $loader-size;
  height   : $loader-size;
  padding  : $spacing;
}

.nowrap {
  white-space: nowrap;
}

.monospace {
  font-family: monospace;
}

.padded {
  padding: $spacing;
}


// icons overrides
.wi, .fa {
  opacity: 0.7;
  &-fw {
    width: 0.8em;
  }
}

.wi {
  &.wi-smog, &.wi-smoke {
    width: 1em;
  }
}
