$spacing                  : 20px;
$bootstrap-spacing        : 15px;
$loader-size              : 1.5em;
$transition-duration      : 0.2s;
$transition-duration-long : 4*$transition-duration;


@mixin transition($duration: $transition-duration) {
  transition: $duration all;
}
