@import './variables';
@import './mixins';


.error-icon {
    &.fa, &.wi {
        position : absolute;
        // [? !] use bootstrap variables in real apps!
        top      : $bootstrap-spacing;
        left     : $bootstrap-spacing;

        @include transition;
        opacity: 0;
    }

    &-active {
        &.fa, &.wi {
            opacity: 1;
        }
    }
}
